<div class="album py-3 px-3 bg-dark">
  <div class="container px-5">
    <div class="row mx-4">
      <div class="col-md-4">
        <app-album-thumb></app-album-thumb>
      </div>
      <div class="col-md-4">
        <app-album-thumb></app-album-thumb>
      </div>
      <div class="col-md-4">
        <app-album-thumb></app-album-thumb>
      </div>
    </div>
    <div class="row mx-4">
      <div class="col-md-4">
        <app-album-thumb></app-album-thumb>
      </div>
      <div class="col-md-4">
        <app-album-thumb></app-album-thumb>
      </div>
      <div class="col-md-4">
        <app-album-thumb></app-album-thumb>
      </div>
    </div>
  </div>
</div>
