<div class="album py-5 px-5 bg-light">
  <div class="container px-5">
    <div class="row mx-4">
      <div class="col-md-4">
        <app-album-thumb></app-album-thumb>
      </div>
      <div class="col-md-4">
        <app-album-thumb></app-album-thumb>
      </div>
      <div class="col-md-4">
        <app-album-thumb></app-album-thumb>
      </div>
    </div>
    <div class="row mx-4">
      <div class="col-md-4">
        <app-album-thumb></app-album-thumb>
      </div>
      <div class="col-md-4">
        <app-album-thumb></app-album-thumb>
      </div>
      <div class="col-md-4">
        <app-album-thumb></app-album-thumb>
      </div>
    </div>
  </div>
</div>
