<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
  <a class="navbar-brand" routerLink="">Menjaža</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
    *ngIf="headerViewModel$ | async as hvm"
  >
    <ul class="navbar-nav ms-auto">
      <div class="d-flex" *ngIf="!hvm.isAdmin">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">
            <i class="fa-solid fa-house"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onMyAlbumsClick(hvm.isLoggedin)">
            Moji albumi
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            role="button"
            aria-expanded="false"
            >Aukcije</a
          >
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/auctions']"
                [queryParams]="{ type: 'active' }"
                >Aktivne</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/auctions']"
                [queryParams]="{ type: 'ended' }"
                >Završene</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/auctions']"
                [queryParams]="{ type: 'waiting' }"
                >Na čekanju</a
              >
            </li>
            <div *ngIf="hvm.isLoggedin">
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" [routerLink]="[userId, 'my-auctions']"
                  >Moje aukcije</a
                >
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="[userId, 'my-bids']"
                  >Moje ponude</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a
                  class="dropdown-item"
                  [routerLink]="['auctions', 'add-product']"
                  >Dodaj aukciju</a
                >
              </li>
            </div>
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/about">O nama</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Kontakt</a>
        </li> -->
      </div>
      <li class="nav-item">
        <app-auth-links></app-auth-links>
      </li>
    </ul>
  </div>
</nav>
