<div class="row mt-3" *ngIf="album">
  <div class="card mb-3">
    <div class="d-flex justify-content-around align-items-center">
      <div class="col-3" style="width: 180px">
        <img
          src="{{ album.imageUrl }}"
          alt="{{ album.name }}"
          class="img-fluid"
          style="height: 180px"
        />
      </div>
      <div class="col-2">
        <h2 class="card-title">
          <strong> {{ album.name }} </strong>
        </h2>
      </div>
      <div class="col-4 text-right">
        <div class="mx-1 p-4">
          <p><strong> Godina izdavanja: </strong> {{ album.year }}</p>
          <p><strong> Broj sličica: </strong> {{ album.stickersNumber }}</p>
          <p>
            <strong> Broj nedostajućih sličica: </strong>
            {{ missingStickers }}
          </p>
          <p>
            <strong> Broj duplikata: </strong>
            {{ duplicatesStickers }}
          </p>
        </div>
      </div>
      <div class="col-3 text-right d-flex flex-column">
        <div class="mb-2">
          <button
            class="btn btn-primary flex-fill w-100"
            (click)="onMyStickersClick(album.id)"
          >
            <i class="fa-solid fa-image-portrait"></i> Moje sličice
          </button>
        </div>
        <div>
          <button
            class="btn btn-success w-100"
            (click)="onPossibleSwapsClick(album.id)"
          >
            <i class="fa-solid fa-right-left"></i> Moguće razmene
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
