<section class="jumbotron text-center py-5">
  <div class="container">
    <h1 class="jumbotron-heading">Dobrodošli na sajt Menjaža</h1>
    <p class="lead text-muted">
      <strong> Menjaža </strong> je pravo mesto za kolekcionare sličica iz albuma, gde možete
      jednostavno i efikasno voditi evidenciju vaše kolekcije. Bez obzira da li
      skupljate sličice za fudbalske albume, crtane junake ili istorijske
      događaje, ova platforma vam omogućava da organizujete svoje sličice,
      pravite liste potrebnih sličica i pronađete druge kolekcionare za razmenu.
    </p>
    <p>
      <a href="#" class="btn btn-primary my-2 mx-3">Izdavači</a>
      <a class="btn btn-secondary my-2" (click)="onMyAlbumsClicked()"
        >Moji albumi</a
      >
    </p>
  </div>
</section>

<app-albums-grid></app-albums-grid>
<app-publisher-list-home></app-publisher-list-home>
