<div class="hero_area">
  <!-- slider section -->
  <section class="slider_section position-relative">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-4 offset-md-1">
          <section class="section-wrapper" style="position: relative">
            <div class="custom-shape-divider-bottom-1696290567">
              <svg
                data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1200 120"
                preserveAspectRatio="none"
              >
                <path
                  d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                  opacity=".25"
                  class="shape-fill"
                ></path>
                <path
                  d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                  opacity=".5"
                  class="shape-fill"
                ></path>
                <path
                  d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                  class="shape-fill"
                ></path>
              </svg>
            </div>
            <div id="car" class="carousel slide">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                  <div class="item">
                    <div class="img-box b-1">
                      <img src="assets/images/stickers-and-album.jpg" alt="" />
                    </div>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="item">
                    <div class="img-box b-1">
                      <img src="assets/images/album2.jpeg" alt="" />
                    </div>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="item">
                    <div class="img-box b-1">
                      <img src="assets/images/stickers.jpg" alt="" />
                    </div>
                  </div>
                </ng-template>
              </owl-carousel-o>
            </div>
          </section>
        </div>
        <div class="col-md-5 offset-md-1">
          <div class="detail-box">
            <h1>Menjaža</h1>
            <p>
              Pravo mesto za kolekcionare sličica iz albuma, gde možete
              jednostavno i efikasno voditi evidenciju vaše kolekcije. Bez
              obzira da li skupljate sličice za fudbalske albume, crtane junake
              ili istorijske događaje, ova platforma vam omogućava da
              organizujete svoje sličice, pravite liste potrebnih sličica i
              pronađete druge kolekcionare za razmenu.
            </p>
            <p>
              <strong> Menjaža </strong> vam omogućava da učestvujete u
              auckijama u kojima drugi korisnici postavljaju retke sličice,
              popunjene albume, i druge vredne kolekcionarske stvari, kao i
              mogućnost da Vi budete ti koji će postaviti aukciju.
            </p>

            <div class="btn-box">
              <a [routerLink]="['publishers']" class="btn-1"> Izdavači </a>
              <a [routerLink]="['auctions']" [queryParams]="{ type: 'active' }" class="btn-2"> Aukcije </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end slider section -->

<hr class="section-divider" />

<!-- about section -->
<section class="about_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 offset-md-1">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Evidencija i<br />
              razmena
            </h2>
            <hr />
          </div>
          <p>
            Izaberite albume koje nude izdavači, dodajte ih u svoju kolekciju i
            vodite evidenciju o popunjenosti i duplikatima!
          </p>
          <p>
            Pronađite osobu sa kojom možete razmeniti sličice i olakšajte put do
            popunjenog albuma!
          </p>
          <a [routerLink]="['publishers']"> Izdavači </a>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="img-box">
          <img src="assets/images/banner.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->
<hr class="section-divider" />
<!-- dish section -->

<section class="dish_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="dish_container">
          <div class="box">
            <img src="assets/images/stickers1.png" alt="" />
          </div>
          <div class="box">
            <img src="assets/images/mexico70.jpg" alt="" />
          </div>
          <div class="box">
            <img src="assets/images/nfl.jpg" alt="" />
          </div>
          <div class="box">
            <img src="assets/images/extra-stickers.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <hr />
            <h2>Aukcije</h2>
          </div>
          <p>
            Pronađite vredne kolekcionarske stvari na aukcijama i učestvujte u
            licitaciji!
          </p>
          <p>
            Postavite svoju aukciju i vidite ko će dati najveću ponudu za vaš
            proizvod!
          </p>
          <a [routerLink]="['auctions']" [queryParams]="{ type: 'active' }" class="btn-1 mx-3"> Sve aukcije </a>
          <a [routerLink]="['auctions', 'add-product']" (click)="onAddAuctionClick()"> Postavi aukciju </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end dish section -->
<hr class="section-divider" />
<!-- hot section -->

<section class="hot_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>Najaktuelnije aukcije</h2>
      <hr />
    </div>
    <p>
      Pregledajte aukcije sa najvećim brojem ponuda i eventualno ostavite svoju
      ponudu!
    </p>
  </div>

  <div class="carousel_se_01">
    <div class="container-fluid px-0">
      <div class="container pt-5">
        <div class="row mx-4 d-flex justify-content-center">
          <div class="col-md-10 px-0 p-t-30">
            <owl-carousel-o
              [options]="customOptions"
              class="carousel_se_01_carousel owl-theme"
            >
              <ng-template carouselSlide>
                <div class="item">
                  <div class="col-md-12 wow fadeInUp delay-1">
                    <div class="main_services text-center">
                      <div class="box">
                        <div class="img-box hover15">
                          <img
                            src="assets/images/hot-1.png"
                            class="img-fluid pic-1"
                          />
                        </div>
                        <div class="detail-box">
                          <h4>$30</h4>
                          <p>
                            There are many variations of passages of Lorem Ipsum
                            available,
                          </p>
                          <a href=""> Pogledaj </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="item">
                  <div class="col-md-12 wow fadeInUp delay-1">
                    <div class="main_services text-center">
                      <div class="box">
                        <div class="img-box hover15">
                          <img
                            src="assets/images/hot-1.png"
                            class="img-fluid pic-1"
                          />
                        </div>
                        <div class="detail-box">
                          <h4>$30</h4>
                          <p>
                            There are many variations of passages of Lorem Ipsum
                            available,
                          </p>
                          <a href=""> Pogledaj </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="item">
                  <div class="col-md-12 wow fadeInUp delay-1">
                    <div class="main_services text-center">
                      <div class="box">
                        <div class="img-box hover15">
                          <img
                            src="assets/images/hot-1.png"
                            class="img-fluid pic-1"
                          />
                        </div>
                        <div class="detail-box">
                          <h4>$30</h4>
                          <p>
                            There are many variations of passages of Lorem Ipsum
                            available,
                          </p>
                          <a href=""> Pogledaj </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end hot section -->

<!-- footer section -->
<section class="container-fluid footer_section">
  <div class="social_container">
    <h4>Follow on</h4>
    <div class="social-box">
      <a href="">
        <img src="assets/images/fb.png" alt="" />
      </a>
      <a href="">
        <img src="assets/images/twitter.png" alt="" />
      </a>
      <a href="">
        <img src="assets/images/linkedin.png" alt="" />
      </a>
      <a href="">
        <img src="assets/images/youtube.png" alt="" />
      </a>
    </div>
  </div>
  <p>&copy; 2023 All Rights Reserved. Luka Gavrilovic</p>
</section>
<!-- footer section -->
