<div class="product-view" *ngIf="auction$ | async as auction">
  <div class="row mb-4">
    <div class="col-lg-1"></div>
    <div class="card col-lg-7 content-card">
      <div class="row">
        <aside class="col-lg-5">
          <article class="gallery-wrap">
            <div class="img-big-wrap">
              <div>
                <img src="{{ baseUrl + auction.productImage }}" />
              </div>
            </div>
            <div class="img-small-wrap">
              <!-- <div
                *ngFor="let img of product.image"
                class="item-gallery"
                (click)="onImageClick($event)"
              >
                <img src="{{ img }}" />
              </div> -->
            </div>
          </article>
        </aside>

        <aside class="col-lg-7">
          <article class="card-body p-4">
            <h3 class="title mb-3">
              <strong> Naziv: </strong> {{ auction.productName }}
            </h3>

            <p class="price-detail-wrap">
              <span class="price h3 text-info">
                <span class="currency"
                  >Početna cena: {{ auction.basePrice }} din</span
                >
              </span>
            </p>

            <dl class="item-property">
              <dt>Opis</dt>
              <dd>
                <p>{{ auction.productDescription }}</p>
              </dd>
            </dl>
            <dl class="param param-feature">
              <dt>Vreme početka aukcije</dt>
              <dd>{{ convertToViewAbleDate(auction.startDate) }}</dd>
            </dl>
          </article>
        </aside>

        <div class="col-lg-1"></div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card current-top-bidder">
        <div class="card-body">
          <div class="row">
            <div class="row">
              <p class="card-title col-8 m-0">Trenutna najveća ponuda:</p>
              <p class="card-title col-4 m-0 d-flex">
                <strong>{{
                  auction.bids && auction.bids.length > 0 ? auction.bids[0].bidPrice + " din": "Nema ponuda"
                }}</strong>
              </p>
            </div>
            <div class="col-12"><hr /></div>
            <div class="col-6">
              <div class="img-small-wrap">
                <p class="card-text">Najveća ponuda:</p>
              </div>
              <p class="card-text">Vreme ponude:</p>
            </div>
            <div class="col-6">
              <p class="card-text highest-bidder-name">
                {{ auction.bids && auction.bids.length > 0 ? auction.bids[0].bidUsername : "Nema ponuda" }}
              </p>
              <!-- <p class="card-text">Vreme ponude:</p> -->
              <p class="card-text">
                {{
                  auction.bids && auction.bids.length > 0
                    ? convertToViewAbleDate(auction.bids[0].bidTime)
                    : "Nema ponuda"
                }}
              </p>
            </div>
            <div class="col-12 clock d-flex justify-content-center my-3">
              <p class="clock text-center">
                <label
                  *ngIf="IsAuctionEnd(auction.endDate); else startBlock"
                  class="alert-warning"
                  matTooltip="Auction Ended"
                  >Aukcija je gotova</label
                >
                <ng-template #startBlock>
                  <label
                    *ngIf="IsAuctionStart(auction.startDate); else timeBlock"
                    class="alert-success"
                    >Aukcija nije pocela</label
                  >
                </ng-template>
                <ng-template #timeBlock>
                  <p class="mt-2 mb-0"> <strong>Preostalo vreme:</strong></p>
                  <div
                    class="countdown d-flex justify-content-center"
                    simpleCountdown
                    [dateTo]="auction.endDate.getTime() / 1000"
                    [styles]="
                      '
                                  background-color: #dfdfdf;
                                  padding: 10px 4px;
                                  font-size: 20px;
                                  '
                    "
                    [endMessage]="'Aukcija je gotova'"
                  ></div>
                </ng-template>
              </p>
              <!-- <div
                class="countdown"
                simpleCountdown
                [dateTo]="auction.endDate.getTime() / 1000"
                [styles]="
                  '
                          background-color: #dfdfdf;
                          padding: 10px 4px;
                          font-size: 20px;
                          '
                "
                [endMessage]="'Aukcija je gotova'"
              ></div> -->
            </div>
            <div class="col-3"></div>
            <div class="col-6 text-center">
              <button
                color="primary"
                [disabled]="isAuctionLive(auction.startDate, auction.endDate)"
                mat-raised-button
                (click)="
                  openDialog(
                    auction.bids && auction.bids.length > 0
                      ? auction.bids[0].bidPrice
                      : auction.basePrice
                  )
                "
              >
                Ponudi
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-7">
      <div class="card-basic-content">
        <mat-tab-group>
          <mat-tab label="Informacije o aukciji">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td><strong>Vreme početka</strong></td>
                  <td>{{ convertToViewAbleDate(auction.startDate) }}</td>
                </tr>

                <tr>
                  <td><strong>Vreme završetka</strong></td>
                  <td>{{ convertToViewAbleDate(auction.endDate) }}</td>
                </tr>
              </tbody>
            </table>
          </mat-tab>

          <mat-tab label="Informacije o korisniku">
            <table class="table table-hover" *ngIf="auction.user">
              <tbody>
                <tr>
                  <td><strong>Username</strong></td>
                  <td>{{ auction.user.username }}</td>
                </tr>

                <tr>
                  <td><strong>Adresa korisnika</strong></td>
                  <td>{{ auction.user.address }}</td>
                </tr>

                <tr>
                  <td><strong>Broj telefona korisnika</strong></td>
                  <td>{{ auction.user.phoneNumber }}</td>
                </tr>

                <tr>
                  <td><strong>E-mail korisnika</strong></td>
                  <td>{{ auction.user.email }}</td>
                </tr>
              </tbody>
            </table>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card top-ten-bidder">
        <div class="card-body">
          <h5 class="card-title">Top 5 najvećih ponuda</h5>
          <div class="bidders">
            <div *ngFor="let bid of auction.bids" class="row my-2 d-flex align-items-end">
              <p class="card-text col-3">{{ bid?.bidPrice }} din</p>
              <p class="card-text col-4">{{ bid?.bidUsername }}</p>
              <p class="card-text col-5">{{ convertToViewAbleDate(bid.bidTime) }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
