<div class="product-view">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="card col-lg-7 content-card">
      <div class="row">
        <aside class="col-lg-5">
          <article class="gallery-wrap">
            <div class="img-big-wrap">
              <div>
                <img src="{{ product.image }}" />
              </div>
            </div>
            <div class="img-small-wrap">
              <!-- <div
                *ngFor="let img of product.image"
                class="item-gallery"
                (click)="onImageClick($event)"
              >
                <img src="{{ img }}" />
              </div> -->
            </div>
          </article>
        </aside>

        <aside class="col-lg-7">
          <article class="card-body p-4">
            <h3 class="title mb-3">Product Name : {{ product.productName }}</h3>

            <p class="price-detail-wrap">
              <span class="price h3 text-warning">
                <span class="currency"
                  >Base Price : {{ product.basePrice }}</span
                >
              </span>
            </p>

            <dl class="item-property">
              <dt>Description</dt>
              <dd>
                <p>{{ product.productDescription }}</p>
              </dd>
            </dl>
            <dl class="param param-feature">
              <dt>Bidding Start Time</dt>
              <dd>{{ convertToViewAbleDate(product.startDateTime) }}</dd>
            </dl>
          </article>
        </aside>

        <div class="col-lg-1"></div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card current-top-bidder">
        <div class="card-body">
          <div class="row">
            <p class="card-title col-6">Current Highest Bid:</p>
            <p class="card-title col-6">
              <strong>{{ currentTopBid?.bidPrice }}</strong>
            </p>
            <div class="col-12"><hr /></div>
            <div class="col-6">
              <div class="gallery-wrap">
                <div class="img-small-wrap">
                  <p class="card-text">Highest Bidder:</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <p class="card-text highest-bidder-name">
                {{ currentTopBid?.userName }}
              </p>
              <p class="card-text">Bidding Time:</p>
              <p class="card-text">{{ currentTopBid?.bidTime }}</p>
            </div>
            <div class="col-12 clock">
              <div
                class="countdown"
                simpleCountdown
                [dateTo]="product.endDateTime.getTime() / 1000"
              ></div>
            </div>
            <div class="col-3"></div>
            <div class="col-6 text-center">
              <button
                color="primary"
                [disabled]="
                  isAuctionLive(product.startDateTime, product.endDateTime)
                "
                mat-raised-button
                (click)="
                  openDialog(
                    currentTopBid != null
                      ? currentTopBid.bidPrice
                      : product.basePrice
                  )
                "
              >
                Bid Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-7">
      <div class="card-basic-content">
        <mat-tab-group>
          <mat-tab label="Product Info">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td><strong>Start Time</strong></td>
                  <td>{{ convertToViewAbleDate(product.startDateTime) }}</td>
                </tr>

                <tr>
                  <td><strong>End Time</strong></td>
                  <td>{{ convertToViewAbleDate(product.endDateTime) }}</td>
                </tr>

                <tr>
                  <td><strong>Contact Info</strong></td>
                  <td>product.contactInfo</td>
                </tr>

                <tr>
                  <td><strong>City</strong></td>
                  <td>product.cityName</td>
                </tr>
              </tbody>
            </table>
          </mat-tab>

          <mat-tab label="User Info">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td><strong>User Name</strong></td>
                  <td>{{ product.userName }}</td>
                </tr>

                <tr>
                  <td><strong>User Address</strong></td>
                  <td>{{ product.userAddress }}</td>
                </tr>

                <tr>
                  <td><strong>User Phone</strong></td>
                  <td>{{ product.userPhone }}</td>
                </tr>

                <tr>
                  <td><strong>From</strong></td>
                  <td>product.cityName</td>
                </tr>
              </tbody>
            </table>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card top-ten-bidder">
        <div class="card-body">
          <h5 class="card-title">Top 10 highest bidder</h5>
          <div class="bidders">
            <div *ngFor="let bid of top10Bids" class="row">
              <p class="card-text col-3">{{ bid?.bidPrice }}</p>
              <p class="card-text col-4">{{ bid?.userName }}</p>
              <p class="card-text col-5">{{ bid?.bidTime }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
