<div
  class="row justify-content-center"
  *ngIf="publishers$ | async as publishers"
>
  <div class="col-8 mt-4 display-flex justify-content-center">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="my-0">Izdavači</h1>
      <button
        type="button"
        class="btn btn-success"
        *ngIf="showAddButton"
        (click)="showAddForm()"
      >
        <!-- [routerLink]="['add']" -->
        Dodaj novog izdavača <i class="fas fa-plus"></i>
      </button>
    </div>
    <app-publisher-add
      [showForm]="showForm"
      (closeForm)="cancelForm()"
    ></app-publisher-add>

    <div class="row mt-3">
      <ng-container *ngFor="let publisher of publishers">
        <div class="col-6">
          <app-publisher-thumb
            [publisher]="publisher"
            (selektovan)="onPublisherSelect($event)"
          ></app-publisher-thumb>
        </div>
      </ng-container>
    </div>
  </div>
</div>
