<div
  class="row justify-content-center"
  *ngIf="userAlbums$ | async as userAlbums"
>
  <div class="col-8 mt-4 display-flex justify-content-center">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="my-0">Moji albumi</h1>
    </div>

    <div class="row mt-3">
      <ng-container *ngFor="let userAlbum of userAlbums">
        <div class="">
          <app-user-album-info
            [album]="userAlbum.album"
            [missingStickers]="userAlbum.missingStickers.length"
            [duplicatesStickers]="userAlbum.duplicatesStickers.length"
          ></app-user-album-info>
        </div>
      </ng-container>
    </div>
  </div>
</div>
